<div class="row">

  <div class="col-md-6 col-md-offset-3">
    <h1>Reset Password</h1>

    <form name="resetPasswordForm" novalidate>

      <div class="form-group">
        <label for="email">Email address</label>
        <input class="form-control" type="email" name="email" placeholder="Enter email" required ng-model="user.email">
      </div>

      <input type="submit" class="btn btn-primary" ng-click="resetPassword()" ng-disabled="!resetPasswordForm.$valid" value="Reset!" />

    </form>

  </div>
</div>
