
<div class="row" ng-controller="ProjectsController">
  <div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
      <div class="panel-heading">Projects</div>
    <table>
        <tr ng-repeat="project in projects | orderBy : 'created_at'">
          <td>
            <h4><a ui-sref="single-project({ id: project.id })">{{ project.name }}</a></h4>
            <div>{{ project.description }}</div>
            <div class="create-date"> Created On: {{ project.created_at | date:'MM/dd/yyyy' }}</div>
          </td>
        </tr>
        <tr ng-if="projects.length == 0">
          <td>
            There are no projects.
          </td>
        </tr>
    </table>
    </div>
  </div>
</div>
<div class="row">
