<div class="row">
  <div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
      <div class="panel-heading">
        {{ project.name }}
        <span ng-if="project.closed_at"> (Closed)</span>
        <div class="pull-right" ng-if="logged_in && !already_applied && !project.closed_at">
          <a class="btn btn-default btn-xs" ng-click="applyToProject(logged_in_user_id)">Apply to Project</a>
        </div>
        <div class="pull-right" ng-if="(logged_in_user.id === owner_id) || logged_in_user.is_admin">
          <a class="btn btn-default btn-xs" ui-sref="dashboard.edit-project({ id: project.id })">Edit Project</a> &nbsp;
          <button class="btn btn-primary btn-xs" ng-if="!project.closed_at" ng-click="closeProject()">Close this project</button> &nbsp;
          <button class="btn btn-danger btn-xs" ng-click="deleteProject()">Delete this project</button> &nbsp;
        </div>
        <div class="pull-right" ng-if="!logged_in && !project.closed_at">
          <a ui-sref="login">You must login to apply to this project.</a>
        </div>
      </div>
    <table>
        <tr>
          	<td>
            	<strong>Description:</strong>
        	</td>
        </tr>
        <tr>
          	<td>
            	<div>{{ project.description }}</div>
        	</td>
        </tr>
    </table>
    <div class="panel-footer"><div class="create-date"> Created On: {{ project.created_at | date:'MM/dd/yyyy' }}</div></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        Users on Project
      </div>
      <div class="panel-body">
        <table>
          <tr ng-repeat="user in project_users | orderBy : 'last_name'">
            <td width="200px">{{ user.first_name + " " + user.last_name }}</td>
            <td width="200px" ng-if="owner_id === user.id" class="owner-column">
              Project Owner
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
