<div class="row">
  <div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
      <div class="panel-heading">Users<a class="btn btn-default btn-xs pull-right" ui-sref="admin.add-user">Add User</a></div>
    <table>
        <tr ng-repeat="user in users | orderBy : 'last_name'">
          <td>
            <h4><a ui-sref="admin.single-user({ slug: user.slug })">{{ user.first_name + ' ' + user.last_name }}</a></h4>
          </td>
        </tr>
    </table>
    </div>
  </div>
</div>