<div class="row">
  <div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
      <div class="panel-heading">New User</div>
        <form name="userForm" novalidate>

          <div class="form-group" ng-class="{'has-error': userForm.email.$dirty && !userForm.email.$valid }">
            <label for="email">Email address</label>
            <input class="form-control" type="email" name="email" placeholder="Enter email" required ng-model="user.email">
            <span class="help-block" ng-show="userForm.email.$dirty && !userForm.email.$valid">You must enter a valid email.</span>
          </div>

          <div class="form-group" ng-class="{'has-error': userForm.password.$dirty && !userForm.password.$valid }">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" placeholder="Enter password" required pattern=".{8,}" ng-model="user.password">
            <span class="help-block" ng-show="userForm.password.$dirty && !userForm.password.$valid">Your password must be at least eight characters long.</span>
          </div>

          <div class="form-group" ng-class="{'has-error': userForm.password_confirmation.$dirty && !userForm.password_confirmation.$valid }">
            <label for="password_confirmation">Confirm Password</label>
            <input class="form-control" type="password" name="password_confirmation" placeholder="Enter password again" required ng-model="user.password_confirmation" compare-to="user.password">
            <span class="help-block" ng-show="userForm.password_confirmation.$dirty && !userForm.password_confirmation.$valid">This must match your password above.</span>
          </div>

          <div class="form-group">
            <label for="first_name">First Name</label>
            <input class="form-control" type="text" name="first_name" placeholder="Enter user first name" required ng-model="user.first_name">
          </div>

          <div class="form-group">
            <label for="last_name">Last Name</label>
            <input class="form-control" type="text" name="last_name" placeholder="Enter user last name" required ng-model="user.last_name">
          </div>

          <input type="submit" class="btn btn-primary" ng-click="addUser()" ng-disabled="!userForm.$valid" value="Add User" />
        </form>
    </div>
  </div>
</div>
