<div class="row">
  	<div class="col-md-8 col-md-offset-2">
	  	<div class="panel panel-default">
	      	<div class="panel-heading">
	      		{{ user.first_name + ' ' + user.last_name }}
	      		<div class="pull-right">
	      			<a class="btn btn-default btn-xs" ui-sref="admin.edit-user({ id: user.id })">Edit User</a> &nbsp;
	      			<button class="btn btn-danger btn-xs" ng-click="deleteUser()">Delete this user</button>
	      		</div>
	      	</div>
	      	<div class="panel-body">
  			    <table>
  			        <tr>
  			          	<td>
  			            	<strong>Email:</strong>
  			        	</td>
  			        </tr>
  			        <tr>
  			          	<td>
  			            	<div>{{ user.email }}</div>
  			        	</td>
  			        </tr>
                <tr>
                    <td>
                      <strong>Admin:</strong>
                  </td>
                </tr>
                <tr>
                    <td>
                      <div>{{ user.is_admin }}</div>
                  </td>
                </tr>
  			    </table>
        </div>
  	</div>
</div>




