<h1>Edit Account</h1>

<form name="editAccountForm" novalidate>

  <div class="form-group" ng-class="{'has-error': editAccountForm.first_name.$dirty && !editAccountForm.first_name.$valid }">
    <label for="first_name">First Name</label>
    <input class="form-control" type="text" name="first_name" placeholder="Enter first name" required pattern="[A-Za-z ,.'-]+" ng-model="user.first_name">
    <span class="help-block" ng-show="editAccountForm.first_name.$dirty && !editAccountForm.first_name.$valid">You must enter a valid first name.</span>
  </div>

  <div class="form-group" ng-class="{'has-error': editAccountForm.last_name.$dirty && !editAccountForm.last_name.$valid }">
    <label for="last_name">Last Name</label>
    <input class="form-control" type="text" name="last_name" placeholder="Enter last name" required pattern="[A-Za-z ,.'-]+" ng-model="user.last_name">
    <span class="help-block" ng-show="editAccountForm.last_name.$dirty && !editAccountForm.last_name.$valid">You must enter a valid last name</span>
  </div>

  <input type="submit" class="btn btn-primary" ng-click="update()" ng-disabled="!editAccountForm.$valid" value="Save" />

</form>

<h1>Delete Account</h1>

<p>Click the button below to delete your account.</p>

<button class="btn btn-danger" ng-click="deleteAccount()">Delete account</button>
